#ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1770", ATTRS{idProduct}=="ff00", ENV{SYSTEMD_WANTS}=="msi_steelseries_keyboard.service"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1770", ATTRS{idProduct}=="ff00", GROUP="plugdev", TAG+="uaccess"
#ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1770", ATTRS{idProduct}=="ff00", GOTO="msi_end"
ACTION=="remove", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1770", ATTRS{idProduct}=="ff00", GOTO="msi_end"

LABEL="msi_end"
# vim: ft=udevrules
